<section>

	<!-- Alert Notifications -->
	<alert *ngFor="let alert of alertService.getAlerts(); let i = index" [type]="alert.type" (close)="alertService.clear(i)" dismissible="true" >{{ alert.msg }}</alert>

	<h3 class="page-header">Request Team Access</h3>

	<pageable-table [items]="teams" [pagingOptions]="pagingOptions" (onPageChange)="goToPage($event)">

		<template asy-template="table-header">
			<th>Team Name</th>
			<th>Description</th>
			<th>Created</th>
			<th>Creator</th>
			<th>&nbsp;</th>
		</template>

		<template asy-template="table-row" let-team>
			<td><div class="hide-overflow" style="max-width:200px;">{{ team?.name }}</div></td>
			<td><div class="hide-overflow" style="max-width:400px;">{{ team?.description }}</div></td>
			<td>{{ team?.created | agoDate:false }}</td>
			<td>{{ team?.creatorName }}</td>
			<td>
				<button *ngIf="!team.containsUser && !team.submitting" type="button" class="btn btn-default btn-sm pull-right" (click)="requestAccess(team)">
					Request Access
				</button>
				<asy-loading-animation class="pull-right" *ngIf="team.submitting" text=""></asy-loading-animation>
				<span *ngIf="team.containsUser && !team.requestedAccess" class="pull-right"><em>You are a member of this team.</em></span>
				<span *ngIf="team.containsUser && team.requestedAccess" class="pull-right"><em>Your request has been submitted.</em></span>
			</td>
		</template>

		<template asy-template="empty-table">
			<h4>
				There are no teams in the system<br/>
			</h4>
		</template>

	</pageable-table>

	<div class="col-md-6 col-md-offset-3 center">
		<h3>
			Don't see a team you can join?<br/>
			<small>
				Request a new team <a (click)="requestNewTeam()">here</a><br/>
			</small>
		</h3>
	</div>

</section>
