<section>

	<a class="back-link" [routerLink]="['/teams']">
		<i class="fa fa-angle-double-left"></i> Back to My Teams
	</a>

	<!-- Page Header -->
	<h3 class="page-header">
		{{ modeDisplay }} Team
		<small>{{ subtitle }}</small>
	</h3>

	<div class="row">

		<div class="col-md-12">
			<form #form="ngForm" novalidate autocomplete="off" class="form-horizontal" role="form">

				<div class="form-group row">
					<div class="col-md-12">
						<label for="name">Team Name<span class="text-danger"><strong> *</strong></span></label>
						<input type="text" class="form-control" id="name" name="name" [(ngModel)]="team.name" required/>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-md-12">
						<label for="description">Description</label>
						<textarea rows="4" class="form-control" id="description" name="description" [(ngModel)]="team.description"></textarea>
					</div>
				</div>

				<div [hidden]="!error" class="form-group row">
					<div class="col-md-12 text-danger">
						<strong>{{error}}</strong>
					</div>
				</div>

				<!-- External Groups -->
				<div class="form-group row" [hidden]="!showExternalTeams">
					<div class="col-md-12">
						<label>External Teams</label>
						<asy-add-remove-list
								[items]="team.requiresExternalTeams"
								(itemsChanged)="updateExternalTeams($event)"
								[buttonText]="'Add Team'"
								[placeholder]="'Enter a team name...'">
						</asy-add-remove-list>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-md-12">
						<div class="pull-right">
							<button type="button" class="btn btn-default" (click)="save()" [disabled]="!form.form.valid">{{ okButtonText }}</button>
							<a type="button" class="btn btn-link" [routerLink]="['/teams']">Cancel</a>
						</div>
					</div>
				</div>

			</form>
		</div>

	</div>

</section>
