<section>

	<!-- Donut Chart
	<section class="row">
		<div class="col-md-3">

			<h2>Donut Chart</h2>
			<button class="btn btn-default" (click)="donut.update()">Update</button>
			<donut-chart
			             [model]="donut.model"
			             [resize]="donut.resize"
			             [configure]="donut.configure">
			</donut-chart>

		</div>
	</section>
	-->

	<!-- Bar Chart
	<section class="row">
		<div class="col-md-3">

			<h2>Bar Chart</h2>
			<button class="btn btn-default" (click)="bars.update()">Update</button>
			<vertical-bar-chart
				[model]="bars.model"
				[widthExtent]="bars.widthExtent"
				[resize]="bars.resize"
				[configure]="bars.configure">
			</vertical-bar-chart>

		</div>
	</section>
	-->

	<!-- Matrix Chart -->
	<section class="row">
		<div class="col-md-3">

			<h2>Matrix Chart</h2>
			<button class="btn btn-default" (click)="matrix.update()">Update</button>
			<matrix-chart
				[model]="matrix.model"
				[configure]="matrix.configure">
			</matrix-chart>

		</div>
	</section>


</section>
