<div class="wf-messages">
	<div *ngIf="motd">
		<div class="jumbotron motd">
			<h1>{{ motd.title }} <span class="pull-right">{{ motd.created | agoDate:false}}</span></h1>
			<p [innerHTML]="motd.body"></p>
		</div>
	</div>
	<div *ngIf="!motd">
		<div class="jumbotron motd">
			<h1></h1>
			<p>There is no message of the day.</p>
		</div>
	</div>
	<div class="text-center">
		<h3>Recent Messages</h3>
	</div>
	<div class="">
		<div *ngFor="let message of messages" class="callout callout-{{ getTypeAlertClass(message) }}">
		<h4><i class="fa {{ getTypeIcon(message) }}"></i> {{ message.title }} <span class="pull-right">{{ message.created | agoDate:false }}</span></h4>
		<p [innerHTML]="message.body"></p>
	</div>

		<div *ngIf="messages.length === 0">
			There are no messages to display.
		</div>
	</div>
</div>
