//==================================
// Global Color Definitions
//==================================
$color-white: #fff;
$color-black: #000;
$color-green: #008000;
$color-red: #b22222;
$color-yellow: #f5ae07;

$color-bg-black: rgba(0, 0, 0, .5);
$color-bg-tooltip: #ddd;
$color-bg-btn: #cec;
$color-bg-light: #bbb;
$color-bg-lighter: #f3f3f3;

$color-box-shadow: rgba(136, 153, 166, .95);

$color-border-light: #eee;
$color-border-med: #aaa;
$color-border-dark: #444;
$color-border-btn: #686;
$color-label-gray: #999;
$color-label-dark-gray: #333;
$color-link: #337ab7;
$color-link-light: #8899a6;


$color-panel-title: #a1a1a1;

$color-text-light: #bcbcbc;
$color-text-black: #222;

// Blocks

$color-default-light: #e4eaf0;
$color-default-med: #cbd0d6;
$color-default-dark: #777f93;

$color-danger-light: #e99897;
$color-danger-med: #c25152;
$color-danger-dark: #7f2a2a;

$color-warning-light: #fed;
$color-warning-med: #c96;
$color-warning-dark: #a63;

$color-info-light: #def;
$color-info-med: #5bc0de;
$color-info-dark: #3a87ad;

// Messages
$color-motd-header: #e1e1e1;
$color-callout-info-border: #c1c1c1;
$color-callout-info-title: #616161;
$color-toast-bg: #fcfcfc;
