<section>

	<div style="padding-top:20px;" class="row">
		<div class="col-md-8 col-md-offset-2">

			<div style="text-align:center;" class="jumbotron">
				<h1>Account Not Active</h1>

				<p class="lead">
					<span *ngIf="user.userModel.username">Hey there, {{user.userModel.name}}.</span> The good news is that you've got an account. The bad news is that it isn't active right now.
					Either we temporarily disabled it, or you just requested an account and we haven't had a chance to approve your access yet.
				</p>
			</div>

		</div>
	</div>

</section>