<section>

	<div style="padding-top:20px;" class="row">
		<div class="col-md-8 col-md-offset-2">

			<div style="text-align:center;" class="jumbotron">
				<h1><i class="fa fa-exclamation-triangle"></i></h1>

				<h3>Invalid Credentials</h3>
				<p class="lead">
					We couldn't authenticate you because there's a problem with your credentials. Check your credentials
					and make sure they are valid, current, and recognized by the appropriate authority.
				</p>
			</div>

		</div>
	</div>

</section>